body {
  background-color: #2a2734;
}
.cube {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  /* animation */
  animation: anim 2s infinite ease-out;
}
.outercube {
  width: 10vw;
  height: 10vw;
  background-color: #9b87ef;
}
.innerCube {
  width: 5vw;
  height: 5vw;
  background-color: #c2bedb;
}
.innerCube2 {
  width: 2.5vw;
  height: 2.5vw;
  background-color: #ffb870;
}
@keyframes anim {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
